.Personajes {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.encapsulador {
  display: flex;
  justify-content: space-between;
}

.ch {
  padding-left: 50px;
}
